* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #13a2f5;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    font-weight: 600;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    height: 580px;
    filter: brightness(0.8);
}

.card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    color: #eee;
    letter-spacing: 1.2px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card:hover h3 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}